.navbar {
  background-color: #343a40;
  padding: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  color: white;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
  display: flex;
}

.navbar-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px
}
